
<h2>home page for singular post</h2>

<%= @post.text %>
<h2>comments</h2>
<ol id="comments_list">
  <% if @comments.any? %>
    <% @comments.each do |comment| %>
      <%= render "comments/comment", :comment => comment %>
    <% end %>
  <% else %>
    <p>be the first to comment</p>
  <% end %>
</ol>

<p><%= link_to "back", posts_path %></p>
<p><%= link_to "Add a comment", new_post_comment_path(@post), id: "new_comment_link", remote: true %></p>
